.allform{
    display: inline-block;
    position: relative;
    width: auto;
    border: none;
    padding: 20px;
    background-color: #fff;
    margin: 400px 0 0 350px
}
img{
    border: 1px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 5rem;
}
.buttons{
    width: 100%;
    position: absolute;
}
.circle{
    position: absolute;
}
.circle img{
    border:1px solid black;
    border-radius: 50%;
    width: 111px;
    height: 109px;
    margin-top: 9rem;
    margin-left: 29rem;
}
.input1{
    padding: 5px 30px;
    margin-left: 100px;
    border: solid 2px rgb(199, 190, 190);
    border-radius: 5px;
}
.input2{
    padding: 5px 15px;
    width: 25vh;
    margin-left: 65px;
    border: solid 2px rgb(199, 190, 190);
    border-radius: 5px;
}


.labelinput{
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
margin: 20px;
}
.select{
    width: 20vh;
    cursor:pointer;
    height: auto;
    color: black;
    border-radius: 5px;  
    margin-left: 110px;
}
.submit{
    margin:10px;
    position: fixed;
    top: 0px;
    left: 650px;
    z-index: 5;
    justify-content: right;
    text-align: right;
}
.save{
    padding: 8px 30px;
    border: none;
    font-size: 12px;
    background-color: rgb(199, 190, 190);
    border-radius: 20px;
}
.Mydetails{
    display: inline;
    margin-left: 35rem;
    
}
.Mydetails input{
    padding: 3px;
    margin-left: 10px;
}